body { 
    margin-top: 0em; 
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0em; 
    font-family: 'Open Sans';
}

a {
    color: #82C341;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.container {
    display: grid;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    column-gap: 2em;
    margin-bottom: 1em;
    width: 100%;
}

.logo {
    width: 12em; 
    margin-bottom: 4em;
}
