body { 
    margin-top: 0em; 
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0em; 
    font-family: 'Open Sans';
}

a {
    color: #82C341;
    text-decoration: none;
}

hr {
    border-color: #E2E2E2;
    font-weight: 0.1em;
    border-width: 0.1em;
    height: 0.001px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #82C341;
  font-size: 2.5em;
}

.container {
    display: grid;
    align-items: center; 
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    column-gap: 2em;
    margin-bottom: 1em;
    width: 100%;
}

.top-heading {
    margin-bottom: 5em;
}

.container-equal {
    display: grid;
    align-items: center; 
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    column-gap: 2em;
    margin-bottom: 1em;
    width: 100%;
}

.container-apps {
    display: grid;
    align-items: center; 
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns:  1fr 1fr 1fr;
    column-gap: 2em;
    margin-bottom: 1em;
    width: 100%;
}

.logo {
    width: 12em; 
    margin-bottom: 4em;
}

#mobileshow { 
    display:none; 
}

@media screen and (max-width: 600px) {
    #mobileshow { 
    display:grid; }
    .container {
        grid-template-columns:  1fr 1fr ;
        column-gap: 1em;
    }
    .container-apps {
        margin-bottom: 2em;
    }
    .top-heading {
        margin-bottom: 2em;
    }
    .logo {
        width: 8em; 
        margin-bottom: 3em;
    }
}


#desktopshow { 
    display:none; 
}

@media screen and (min-width: 600px) {
    #desktopshow { 
    display:grid; }
}


